
<form class="container w-25 mt-5 " (ngSubmit)="onSubmit()" #loginForm="ngForm" >

  <div class="row form-group">
    <label for="username">User Name:</label>
    <input class="form-control" type="text" id="username" required  minlength="4" name="userName" [(ngModel)]="model.userName" #userName="ngModel">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
         class=" col-12 alert alert-danger">
      <div *ngIf="userName.errors.required">
        User Name is required.
      </div>
      <div *ngIf="userName.errors.minlength">
        User Name must be at least 4 characters long.
      </div>
    </div>
  </div>

  <div class="row  form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" id="password" required minlength="4" name="password" [(ngModel)]="model.password" #password="ngModel">
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class=" col-12 alert alert-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 4 characters long.
      </div>
    </div>
  </div>

  <div class="row  form-group">
     <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Submit</button>
  </div>

  <div [hidden] ="!isValid" class="row alert alert-info">Congratulation, Valid Credentials</div>
  <div [hidden] ="isValid || isValid === undefined" class="row alert alert-danger">inValid Credentials! Try again</div>
</form>
